<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--设置相应Servlet对应的类型-->
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>Model.User</servlet-class>
    </servlet>
    <!--设置请求对应的Servlet名称-->
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>

</web-app>
